<h1>This is the user show</h1>
<h1><%= @user.username %></h1>
<%= @user.email %><br />
<%= @user.country %><br />
<%= @user.state %><br />
<%= @user.city %><br />
<%= @user.biography %><br />
<%= @user.picture %><br />

<%= link_to "User index", users_url %>